.card-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  color: #ccc;
}

.form-container {
  width: 45%;
  margin: 160px auto;
  padding: 60px 30px;
  display: flex;
  background: #202020;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
}

form {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
}

.botao-entrar {
  width: 100%;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.botao-criar-conta {
  width: fit-content;
  margin: 10px auto 0 auto;
  text-align: center;
  font-weight: bold;
  color: #5c89d9;
  cursor: pointer;
}
