<ion-content [fullscreen]="true">
  <div class="body-container">
    <div class="introducao-container">
      <h1>Bem vindo ao PokeWiki!</h1>
      <h3>Sua enciclopédia Pokémon</h3>
    </div>

    <ion-searchbar
      placeholder="Pesquisar Pokémon"
      color="light"
      show-clear-button="always"
      style="width: 80%;"
      (ionInput)="filter($event)"
    ></ion-searchbar>

    <section class="pokemon-cards-container">
      <ion-card *ngFor="let pokemon of pokemonsExibidos" (click)="showPokemon(pokemon.url)">
        <ion-card-header>
          <div class="pokemon-card">
            <ion-card-title>{{ primeiraLetraMaiuscula(pokemon.name) }}</ion-card-title>

            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-card-header>
      </ion-card>
    </section>

    <mat-paginator
      #paginator
      class="paginator"
      [length]="total"
      [pageSize]="perPage"
      [pageSizeOptions]="[10, 20, 50, 100]"
      aria-label="Paginador"
      (page)="handlePageEvent($event)"
    ></mat-paginator>
  </div>
</ion-content>
