#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.body-container {
  margin-top: 140px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introducao-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introducao-container h1 {
  font-size: 3.625rem;
  font-weight: 900;
}

.introducao-container h3 {
  margin-top: 0;
  color: #9b9b9b;
}

.pokemon-cards-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

.pokemon-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-searchbar {
  --border-radius: 20px;
}

ion-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

ion-card:hover {
  transform: scale(1.02);
}
