<ion-content [fullscreen]="true">
  <div class="body-container">
    <div class="introducao-container">
      <h1>Bem vindo ao PokeWiki!</h1>
      <h3>Sua enciclopédia Pokémon</h3>
    </div>

    <ion-searchbar
      placeholder="Pesquisar Pokémon"
      color="light"
      show-clear-button="always"
      style="width: 80%;"
      (ionInput)="filter($event)"
    ></ion-searchbar>

    <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>

    <section *ngIf="pokemons.length > 0 && !loading" class="pokemon-cards-container">
      <ion-card *ngFor="let pokemon of pokemonsExibidos" (click)="showPokemon(pokemon.url)">
        <ion-card-header>
          <div class="pokemon-card">
            <div class="image-and-name-container">
              <img
                priority
                *ngIf="pokemon.image"
                mat-card-image
                [ngSrc]="pokemon.image"
                [alt]="'Image of ' + pokemon.name"
                class="image"
                width="20"
                height="20"
              >

              <ion-card-title>
                <span class="pokemon-name">{{ primeiraLetraMaiuscula(pokemon.name) }}</span>
              </ion-card-title>
            </div>

            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-card-header>
      </ion-card>
    </section>

    <mat-paginator
      #paginator
      class="paginator"
      [length]="total"
      [pageSize]="perPage"
      [pageSizeOptions]="[10, 20, 50, 100]"
      aria-label="Paginador"
      (page)="handlePageEvent($event)"
    ></mat-paginator>
  </div>
</ion-content>
